.post{
    display: grid;

    grid-template-areas: 
    "avatar text";

    grid-template-columns: 15% 1fr;
    
    width: 60%;
    word-wrap: break-word;
    border: 2px solid rgb(168, 168, 168);
    margin-bottom: 20px;
}

.avatar img{
    grid-area: avatar;
    margin-top: 5px;
    margin-left: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name{
    grid-area: name;
    font-weight:bold;
}

.text{
    grid-area: text;
}


